body {
  background-color: orange;
  color: purple;
}

div {
  text-align: left;
  font-style: normal;
  color: pink;
}

div.intro {
  color: black;
}
.author {
  font-style: italic;
  color: green;
}

span.color  {
  color: blue;
}
